      {{ partial "header.html" . }}

      <div id="main" class="wrapper">

      	<div id="primary" class="site-content">
      		<div id="content" role="main">

      			{{ range (.Paginate .Site.Pages).Pages  }}
                      {{ partial "content.html" . }}  
      			{{ end }}

              
                  
                  {{ if .Paginator.HasPrev }}
                  <div class="nav-previous-posts"><a href="{{.Paginator.Prev.URL}}"><img alt="Older posts" src="{{ .Site.BaseURL }}/images/previous_arrow.png" width="20" height="12"/></a></div>
                  {{ end }}
                  {{ if .Paginator.HasNext }}
                  <div class="nav-next-posts"><a href="{{.Paginator.Next.URL}}"><img alt="Newer posts" src="{{ .Site.BaseURL }}/images/next_arrow.png" width="20" height="12"/></a></div>
                  {{ end }}
                              
      		</div><!-- #content -->
      	</div><!-- #primary -->
      	{{ partial "sidebar.html" . }}
      </div><!-- #main-content -->

      {{ partial "footer.html" . }}