
        <footer id="colophon" class="contentinfo">

            <div class="site-info">
                <div class="footer-links">
                    <div class="links"><a href="http://www.razorfish.com/common/privacy.htm" target="_blank">Privacy Policy</a> | </div>
                    <div class="links"><a href="{{ .Site.BaseURL }}/index.xml">Entries (RSS)</a></div>
                </div>
                <div class="razorfish-copyright">
                    &copy; Razorfish&trade; LLC All rights reserved.
                </div>

            </div>
            <!-- .site-info -->
        </footer>
        <!-- #colophon -->
    </div>
    <!-- #page -->


<script type='text/javascript' src='{{ .Site.BaseURL }}/js/main.js'></script>
<script type='text/javascript' src='{{ .Site.BaseURL }}/js/functions.js'></script>
<body>
<html>
