
        <footer id="colophon" class="contentinfo">
            <div class="site-info">
                <div class="footer-logo">
                    <a href="{{ .Site.BaseURL }}">
                        <img alt="SapientRazorfish_" src="{{ .Site.BaseURL }}/images/sr_logo.png" width="144" />
                    </a>
                </div>
                <div class="footer-links">
                    &copy; Razorfish&trade; LLC All rights reserved. &#183;
                    <a href="https://www.sapientrazorfish.com/general/terms" target="_blank">Terms</a> &#183;
                    <a href="https://www.sapientrazorfish.com/general/privacy" target="_blank">Privacy</a>
                </div>

            </div>
            <!-- .site-info -->
        </footer>
        <!-- #colophon -->
    </div>
    <!-- #page -->


<script type='text/javascript' src='{{ .Site.BaseURL }}/js/main.js'></script>
<script type='text/javascript' src='{{ .Site.BaseURL }}/js/functions.js'></script>
<body>
<html>
